<footer class="footer">
  <div class="container">
    <div class="small text-center">
      <p>
        <ul class="list-inline">
          <li><span>Currently v<%= Peatio::VERSION %></span></li>
        </ul>
      </p>
    </div>
    <div class="clear-fix"></div>
  </div>
</footer>
